<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fsr.smartschedule" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LoginInterface"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".Home2"
            android:label="@string/title_activity_home2" >
        </activity>
        <activity
            android:name=".fffff"
            android:label="@string/title_activity_fffff" >
        </activity>
        <activity
            android:name=".fffffffffffffffffffffffffffffffffffffff"
            android:label="@string/title_activity_fffffffffffffffffffffffffffffffffffffff" >
        </activity>
        <activity
            android:name=".RESERVATION.DoreservationActivity"
            android:label="@string/title_activity_doreservation" >
        </activity>
        <activity
            android:name=".RESERVATION.RReserve"
            android:label="@string/title_activity_rreserve" >
        </activity>
        <activity
            android:name=".RESERVATION.DoReservation"
            android:label="@string/title_activity_do_reservation" >
        </activity>
        <activity
            android:name=".RESERVATION.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".RESERVATION.RRRRRRRRRRRRRRRR"
            android:label="@string/title_activity_rrrrrrrrrrrrrrrr" >
        </activity>
        <activity
            android:name=".RESERVATION.RESERVATIONN"
            android:label="@string/title_activity_reservationn" >
        </activity>
        <activity
            android:name=".RESERVATION.Recherche"
            android:label="@string/title_activity_recherche"
            android:screenOrientation="landscape" >
        </activity>
        <activity android:name=".RESERVATION.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaListActivity" >
        </activity>
        <activity
            android:name=".RESERVATION.FaireRes"
            android:label="@string/title_activity_faire_res" >
        </activity>
        <activity
            android:name=".ADMIN.AdminActivity"
            android:label="@string/title_activity_admin" >
        </activity>
        <activity
            android:name=".UTILE.Favoris"
            android:label="@string/title_activity_favoris" >
        </activity>
        <activity
            android:name=".Notification.Notification"
            android:label="@string/title_activity_notification" >
        </activity>
        <activity
            android:name=".Notification.NotificationActivite"
            android:label="@string/title_activity_notification_activite" >
        </activity>
        <activity
            android:name=".UTILE.FavorisReserver"
            android:label="@string/title_activity_favoris_reserver" >
        </activity>
    </application>

</manifest>
